#main_image{
	width: 100%;
}

.maincontainer{
	padding-top: 80px;
}

.maincontainer h2{
	text-align: center;
	font-size: 1.5em;
	font-weight: 100;
}

.houselist { 
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.content {
	width: 300px;
	display: flex;
	align-content: center;
	justify-content: space-around;
}

.house_content{
	width: 300px;
	height: 400px;
	text-decoration: none;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	padding: 7px;
	transition: background-color 0.3s;
	border-radius: 5px;
}

.house_content:hover{
	background-color: #DDAADD;
	display: flex;
	justify-content: center;
}

.house_content span{
	margin: 0px;
	padding: 0px;
	flex-grow: 0.5;
	display: flex;
	align-items: center;
	justify-content: center;
}

.house_header{
	width: 200px;
	display: flex;
	justify-content: center;
}

.house_area{
	font-weight: bold;
	color: white;
	background-color: #00AA00;
	border-radius: 5px;
}

.house_num{
	width: 90px;
	padding: 10px;
}

.house_detail{
	display: flex;
	width: 200px;
	height: 40px;
	padding-top: 5px;
}

.house_contract p{
	padding-left: 8px;
	padding-right: 8px;
	border: solid 1px;
}

.house_much p{
	padding-left: 8px;
	padding-right: 8px;
}

#yaazami{
	background-color: #883399;
}

#tyuo{
	background-color: #888888;
}

#ooke{
	background-color: #DDAA00;
}

#taki{
	background-color: #7777FF;
}